language: ruby
sudo: required
dist: trusty
rvm:
  - 2.4.1
env:
  - DB=postgresql
bundler_args: "--without production"
cache: bundler
before_install:
  - nvm install 6.10.3
  - npm config set spin false
  - npm install -g yarn

  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation

  - export CHROME_BIN=/usr/bin/google-chrome
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
script:
  - yarn install
  - RAILS_ENV=test bundle exec rake db:migrate
  - bin/rails test
  - NODE_ENV=test bundle exec rails webpacker:compile
  - bin/rails test:system
before_script:
  - export TZ=Asia/Tokyo
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database database_test' -U postgres
  - bundle update
cache: bundler
